;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [;; Development tools
  [binaryage/devtools "1.0.7"]
  [com.taoensso/truss "1.10.1"]
  [io.github.matthewdowney/rich-comment-tests "v1.0.3"]
  ;; Routing
  [metosin/reitit "0.7.0-alpha5"]
  ;; Tailwind-like styling
  [com.thheller/shadow-css "0.4.4"]
  ;; DOM manipulation with reactive capabilities
  [hoplon/hoplon "7.3.3"]
  ;; Maintaining state in Local Storage
  [alandipert/storage-atom "2.0.1"]
  ;; AJAX
  [cljs-ajax/cljs-ajax "0.8.4"]]

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :devtools {:preloads [devtools.preload]}

   :modules
   {:main ; becomes public/js/main.js
    {:init-fn frashca.core/init}}}}}
